*{
	margin:0px;
	padding: 0px;
	font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 12px;
	color:#5fa5bb;
}
body{
	background-color: #31b5c7;
}
body>p{
	color:white;
	text-align: center;
	margin: 7px;
}
.header{
	background: #11cde1; /* Old browsers */
	background: url(img/top_bg.png);
}
.header__content{
	width:1000px;
	margin:0px auto;
	height:175px;
	background-color: #FFF;
	position: relative;
}
.header__content:before,.main__content:before{
	content:'';
	width:0px;
	height:100%;
	position: absolute;
	box-shadow: -3px 0px 4px 1px rgba(0,0,0,0.5);
}
.header__content:after{
	content:'';
	width:0px;
	height:100%;
	position: absolute;
	box-shadow: 3px 0px 4px 1px rgba(0,0,0,0.5);
	right: 0px;
	bottom: 0px;
}
.contacts{
	width: 175px;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: 0px;
	font-weight: bold;
	margin-top: 10px;
}
.contacts ul{
	list-style-type:none;
	font-weight: normal;
}
.countries{
	display: inline-block;
	right: 0px;
	position: absolute;
	bottom: 10px;
	width:500px;
}
.countries figure{
	text-align: center;
	width: 75px;
	display: inline-block;
}
.countries figure img{
	margin:0px 15px;
}
.main{
	background-color: #31b5c7;
}
.main__content{
	width:1000px;
	margin:0px auto;
	background-color: #FFF;
	position: relative;
	box-shadow: 3px 4px 4px 1px rgba(0,0,0,0.5);
}
nav ul{
	display: flex;
	list-style: none; 
	background-color: #323232;
	border-top:1px solid #138aa7;
	border-bottom:1px solid black;
	margin-top: -3px;
}
nav ul li{
	margin-left: 25px;
	position:relative;
	color:white;
	font-size: 14px;
	padding:5px 20px;
}
nav ul li a{
	text-decoration: none;
	color:white;
	font-size: 14px;
}
nav ul li:hover{
	cursor: pointer;
	background-color: #454545;
}
nav ul li:hover>ol{
	display:block;
}
/*
nav ul li>a:after{
	content:'>>';
}*/
nav ul li>a:not(:only-child):after{
   content: ' ▾';
}
nav ol{
	margin-top:5px;
	position:absolute;
	list-style: none;
	background-color: #323232;
	display: none;
}
nav ol li{
	margin-left:0px;
}
.container{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content:flex-start;
	align-items:stretch;
}
.left {
	min-width:208px;
	background:#edeef0;
}
.middle {
	background:white;
	min-width:580px;
}
.right {
	min-width:208px;
	background:#edeef0;
}
h2{
	font-size: 18px;
	color: #424c43;
	font-weight: normal;
	text-align: center;
}
.container p, .container a{
	font-size: 14px;
	color:#424c43;
	text-decoration: none;
	margin: 6px 8px;
}